<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Read Registrationdata</title>
    <style>
    table,tr,th,td{
        border: 1px solid black;
        border-collapse: collapse;
        table-layout: auto;
    }
    </style>
</head>
<body>
    <form action="/read" method="POST">
        <table class="table-dark">
            <thead>
            <tr><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Read Logindata</title>
    <style>
    table,tr,th,td{
        border: 1px solid black;
        border-collapse: collapse;
        table-layout: auto;
    }
    </style>
</head>
<body>
    <form action="/read" method="POST">
        <table class="table-dark">
            <thead>
            <tr><th>Name</th>
                <th>Address</th>
                <th>Gender</th>
                <th>District</th>
                <th>DOB</th>
                <th>Email</th>
                <th>UserName</th>
                <th>Password</th>
                <th>Confirm Password</th></tr>
            </thead>
<tbody>
    <tr><td><%=regi.name %></td>
        <td><%=regi.address %></td>
        <td><%=regi.gen %></td>
        <td><%=regi.dis %></td>
    <td><%=regi.dob %></td>
    <td><%=regi.email %></td>
    <td><%=regi.uname %></td>
    <td><%=regi.psd %></td>
    <td><%=regi.cpsd %></td>
</tr>
</tbody>
</table>
</form>

</body>
</html>
 